@model IEnumerable<EventModel>

@{
    ViewData["Title"] = "New Events";
}

<link href="~/css/ownStyles.css" rel="stylesheet" />

<section class="events-section">
    <section class="searchbar-section">
        <input type="text" class="search-input" id="searchInput" placeholder="Veranstaltung suchen..." oninput="filterEvents()"/>
        <button class="btn btn-primary" onclick="showAddModal()" >+</button>
    </section>

    @foreach (var evt in ViewData["EventData"] as IEnumerable<EventModel> ?? Enumerable.Empty<EventModel>())
    {
        <div class="event-wrapper">
            <section class="header-section">
                <span class="event-name">@evt.Name</span>
                <div class="right-header-section">
                    <span>@evt.Date</span>
                    <span>@evt.Time</span>
                    <button class="btn btn-danger btn-sm" onclick="removeEvent('@evt.Id')">-</button>
                </div>
            </section>
            <section class="decribe-section">
                @evt.Description
            </section>
        </div>
    }
</section>

<div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Veranstaltung hinzufügen</h5>
                <button type="button" class="close" aria-label="Close" onclick="hideAddModal()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-row">
                    <label for="eventName">Veranstaltungsname*:</label>
                    <input type="text" id="eventName" placeholder="Veranstaltungsname eingeben..." class="input-field" />
                </div>

                <div class="modal-row">
                    <label for="eventDate">Veranstaltungsdatum*:</label>
                    <input type="text" id="eventDate" placeholder="Veranstaltungsdatum in der Form dd.mm.yyyy eingeben..." class="input-field"/>
                </div>

                <div class="modal-row">
                    <label for="eventTime">Veranstaltungsuhrzeit*:</label>
                    <input type="text" id="eventTime" placeholder="Veranstaltungsuhrzeit in der Form xx:xx - yy:yy eingeben..." class="input-field" />
                </div>

                <div class="modal-row">
                    <label for="eventDescription">Veranstaltungsbeschreibung:</label>
                    <textarea id="eventDescription" placeholder="Veranstaltungsbeschreibung eingeben..." class="input-field"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="addEvent()">Hinzufügen</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showAddModal() {
        document.getElementById("eventName").value = '';
        document.getElementById("eventDate").value = '';
        document.getElementById("eventTime").value = '';
        document.getElementById("eventDescription").value = '';
         $('#myModal').modal('show');
    }

    function hideAddModal() {
        $('#myModal').modal('hide');
    }

    function addEvent() {
        let eventName = document.getElementById("eventName").value;
        let eventDate = document.getElementById("eventDate").value;
        let eventTime = document.getElementById("eventTime").value;
        let eventDescription = document.getElementById("eventDescription").value;

        $.ajax({
            type: "POST",
            url: "/Organiser/AddEvent",
            data: { Name: eventName, Date: eventDate, Time: eventTime, Description: eventDescription },
            success: function (data) {
                location.href = location.href;
            },
            error: function (data) {
                alert("Event konnte nicht erstellt werden!");
            }
        });
        $('#myModal').modal('hide');
    }

    function removeEvent(eventId) {
        console.log(eventId)
        $.ajax({
            type: "DELETE",
            url: "/Organiser/RemoveEvent",
            data: { id: eventId },
            success: function (data) {
                location.href = location.href;
            },
            error: function (data) {
                alert("Veranstaltung konnte nicht entfernt werden!");
            }
        });
    }

    function filterEvents() {
        let input, filter, events, eventWrapper, eventName, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        events = document.getElementsByClassName("event-wrapper");
        for (i = 0; i < events.length; i++) {
            eventWrapper = events[i].getElementsByClassName("event-name")[0];
            eventName = eventWrapper.textContent || eventWrapper.innerText;
            if (eventName.toUpperCase().indexOf(filter) > -1) {
                events[i].style.display = "";
            } else {
                events[i].style.display = "none";
            }
        }
    }
</script>