@model IEnumerable<EventModel>

@{
    ViewData["Title"] = "Apply Events";
}

<link href="~/css/ownStyles.css" rel="stylesheet" />

<section class="events-section">
    <section class="searchbar-section">
        <input type="text" class="search-input" id="searchInput" placeholder="Veranstaltung suchen..." oninput="filterEvents()"/>
    </section>

    @foreach (EventModel evt in ViewData["EventData"] as IEnumerable<EventModel> ?? Enumerable.Empty<EventModel>())
        {
            <div class="event-wrapper">
                <section class="header-section">
                    <span class="event-name">@evt.Name</span>
                    <div class="right-header-section">
                        <span>@evt.Date</span>
                        <span>@evt.Time</span>
                        <button class="btn btn-primary btn-sm" onclick="addParticipant('@evt.Id')">+</button>
                    </div>
                </section>
                <section class="decribe-section">
                    @evt.Description
                </section>
            </div>
        }
</section>

<script>
    // Ruft die Methode AddParticipant im ParticipantController auf und übergibt die EventId
    function addParticipant(eventId) {
        $.ajax({
            type: "POST",
            url: "/Participant/AddParticipant",
            data: { eventId: eventId },
            success: function (data) {
                alert("Erfolgreich für die Veranstaltung angemeldet!");
            },
            error: function (data) {
                alert("Du bist bereits für diese Veranstaltung angemeldet!");
            }
        });
    }

    // Filtert die Veranstaltungen nach dem Namen
    function filterEvents() {
        let input, filter, events, eventWrapper, eventName, i, txtValue;
        input = document.getElementById("searchInput");
        filter = input.value.toUpperCase();
        events = document.getElementsByClassName("event-wrapper");
        for (i = 0; i < events.length; i++) {
            eventWrapper = events[i].getElementsByClassName("event-name")[0];
            eventName = eventWrapper.textContent || eventWrapper.innerText;
            if (eventName.toUpperCase().indexOf(filter) > -1) {
                events[i].style.display = "";
            } else {
                events[i].style.display = "none";
            }
        }
    }
</script>